.Filters {
  display: none;
}

.Filters .FiltersHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  padding: 16px;
  background-color: white;
  color: black;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.Filters .FiltersHeader h2 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.075px;
  margin: 0;
}

.Filters .FiltersHeader i {
  font-size: 16px;
}

.Filters .SelectWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.Filters .SelectWrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 180px;
  padding: 16px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #e0e0e0;
}

.Filters .SelectWrapper i {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: gray;
}

@media (max-width: 768px) {
  .Filters {
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
  }
}

@media (max-width: 440px) {
  .Filters .FiltersHeader {
    width: 150px;
  }
  .Filters .SelectWrapper select {
    width: 150px;
  }
}
