.Filters {
  display: none;
}

.Filters .FiltersHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 16px;
  background-color: white;
  color: black;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.Filters .FiltersHeader h2 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.Filters .FiltersHeader i {
  font-size: 16px;
}

.Filters .FilterCategory {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: transform 0.3s ease;
  z-index: 900;
  overflow-y: auto;
  overflow-x: hidden;
}

.Filters .FilterCategory .FilterCategoryHeader {
  padding-top: 95px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 31px;
}

.Filters .FilterCategory .FilterCategoryHeader i {
  font-size: 22px;
  color: black;
}

.Filters .FilterCategory .FilterCategoryHeader h4 {
  margin-bottom: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.24px;
}

.Filters .FilterCategory .FilterCategoryFooter {
  display: flex;
  width: 100%;
  border-radius: 8px;
  background-color: black;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.Filters .FilterCategory .FilterCategoryFooter a {
  color: white;
  padding: 12px 100%;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.Filters .SelectWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.Filters .SelectWrapper i {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: gray;
}

.Filters .SelectWrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  color: black;
  outline: none;
  border: 1px solid #e0e0e0;
}

@media (max-width: 768px) {
  .Filters {
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
  }
}

@media (max-width: 440px) {
  .Filters .FiltersHeader {
    width: 150px;
  }
  .Filters .SelectWrapper select {
    width: 150px;
  }
  .Filters .FilterCategory {
    width: 100vw;
  }
}
