.Phones .PhoneContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.Phones .ProductToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.Phones .ProductToolbarInfo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.Phones .ProductToolbarInfo p {
  color: #6c6c6c;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.48px;
  margin: 0;
}

.Phones .ProductToolbarInfo span {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.6px;
}

.Phones .SelectWrapper {
  position: relative;
  display: inline-block;
}

.Phones .SelectWrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 256px;
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
}

.Phones .SelectWrapper i {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* lets you click the select */
  color: gray;
}

.Phones .ProductCard {
  border-radius: 9px;
  display: flex;
  padding: 50px 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: #f6f6f6;
  position: relative;
}

.Phones .ProductCard .Heart {
  color: #909090c4;
  position: absolute;
  right: 13px;
  top: 17px;
  font-size: 27px;
  margin-bottom: 16px;
}

.Phones img {
  height: 160px;
  width: 160px;
}

.Phones .ProductCard .ProductTitle {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 72px;
  line-height: 24px;
  margin: 16px 0;
}

.Phones .ProductCard .ProductPrice {
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
}

.Phones .ProductCard .BuyNowButton {
  display: flex;
  padding: 12px 55px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: black;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 992px) {
  .Phones .PhoneContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .Phones .ProductCard img {
    height: 120px;
    width: 120px;
  }

  .Phones .ProductCard .ProductTitle {
    height: auto;
  }
}

@media (max-width: 768px) {
  .Phones .SelectWrapper {
    display: none;
  }
}

@media (max-width: 600px) {
  .Phones img {
    height: 104px;
    width: 104px;
  }

  .Phones .ProductCard .BuyNowButton {
    padding: 12px 34px;
  }
}
