.SideFilter {
  width: 300px;
}

.SideFilter .Section:not(:last-child) {
  margin-bottom: 30px;
}

.SideFilter .Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SideFilter h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.54px;
}

.SideFilter hr {
  color: gray;
  margin: 14px 0 16px;
}

.SideFilter form input {
  width: 100%;
  height: 40px;
  padding: 8px 8px 8px 35px;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
  outline: none;
}

.SideFilter form {
  position: relative;
  margin-bottom: 16px;
}

.SideFilter form .SearchIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
}

.SideFilter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.SideFilter ul li input {
  margin-right: 8px;
}

.SideFilter ul li input {
  accent-color: black;
}

.SideFilter ul li {
  display: flex;
  align-items: center;
  padding: 8px 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
