.ToggleSection {
  margin-bottom: 30px;
}

.ToggleSection .Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.ToggleSection .Title h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.54px;
}

.ToggleSection hr {
  color: gray;
  margin: 14px 0 16px;
}

.ToggleSection form {
  position: relative;
  margin-bottom: 16px;
}

.ToggleSection form .SearchIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
}

.ToggleSection form input {
  width: 100%;
  height: 40px;
  padding: 8px 8px 8px 35px;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
  outline: none;
}

.ToggleSection ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ToggleSection ul li {
  display: flex;
  align-items: center;
  padding: 8px 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.ToggleSection ul li input {
  margin-right: 8px;
  accent-color: black;
}

.ToggleSection .price-range-container {
  width: 300px;
  margin: 40px auto;
  text-align: center;
}

.ToggleSection .price-range-container .price-labels {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.ToggleSection .price-range-container input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
}
