.NavBar {
  display: block;
  height: 100px;
}

.NavBar .NavBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
  background-color: white;
  padding: 0 4%;
  border-bottom: 1px solid black;
}

.NavBar .NavBarSearch {
  position: relative;
  max-width: 372px;
  width: 100%;
}

.NavBar .NavBarSearch .SearchIcon {
  position: absolute;
  left: 10px;
  top: 37%;
  opacity: 0.6;
}

.NavBar .NavBarSearch .SearchInput {
  border: none;
  background: #f5f5f5;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  padding-left: 37px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.NavBar .NavLinks {
  list-style: none;
  display: flex;
  gap: 52px;
  padding: 0;
  margin: 0;
}

.NavBar .NavLinks .NavItem {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NavBar .IconNav {
  display: flex;
  gap: 24px;
}

.NavBar .IconNav .NavIcon {
  font-size: 16px;
  color: black;
}

@media (max-width: 1083px) {
  .NavBar .NavBarSearch {
    max-width: 239px;
  }
}

@media (max-width: 875px) {
  .NavBar .NavBarSearch,
  .NavItem,
  .NavIconLink {
    display: none;
  }
  .NavBar .NavBarContainer {
    height: 77px;
  }

  .NavBar {
    height: 77px;
  }
}
