.Banners .BannersSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.Banners .ProductImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.Banners .PopularProductCard {
  padding: 8% 6%;
}

.Banners .EarphonesImage {
  position: relative;
  top: 0;
  left: 0;
}

.Banners .WatchImagee {
  position: absolute;
  top: 90px;
  left: 120px;
}

.Banners .BannersSection .ProductTitle {
  font-family: Inter;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px;
  margin: 27px 0 16px;
}

.Banners .ProductDescription {
  color: #909090;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 16px;
}

.Banners .ShopNowWrapper {
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.Banners .ShopNowWrapper {
  display: flex;
  width: 65%;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--Main-Black, #000);
}

.Banners .ShopNowLink {
  color: black;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.Banners .ProductContent {
  margin-left: 20px;
}

.Banners .CradOne {
  background-color: white;
}

.Banners .CardTwo {
  background-color: #f9f9f9;
}

.Banners .CardThree {
  background-color: #eaeaea;
}

.Banners .CardFour {
  background-color: #2c2c2c;
  color: white;
}

.Banners .carousel {
  display: none;
}

@media (max-width: 992px) {
  .Banners .BannersSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .Banners .carousel {
    display: block;
    height: 670px;
  }

  .Banners .CarouselImages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: relative !important;
  }

  .Banners .BannersSection {
    display: none;
  }

  .Banners .ShopNowWrapper {
    width: 100%;
    margin-bottom: 0;
  }

  .Banners .carousel-caption {
    position: static !important;
    padding: 0 50px 100px !important;
  }

  .Banners .SmartWatch {
    position: absolute;
    top: 120px;
  }

  .Banners .Earphones {
    position: relative;
    top: 0;
  }

  .Banners .ProductTitle {
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 48px;
  }

  .Banners .ShopNowWrapper {
    width: 50%;
    margin: 0 auto;
    padding: 13px 25px;
  }

  .Banners .carousel-indicators {
    bottom: -20px;
  }
}
