.DiscountProducts {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 10% 5%;
  margin-top: 30px;
}

.DiscountProducts .DiscountContainer {
  margin: 80px 0 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.DiscountProducts .Discount .DiscountInfo {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.DiscountProducts .DiscountContainer .ProductCard {
  border-radius: 9px;
  display: flex;
  padding: 50px 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: #f6f6f6;
  position: relative;
}

.DiscountProducts .DiscountContainer .ProductCard .Heart {
  color: #909090c4;
  position: absolute;
  right: 13px;
  top: 17px;
  font-size: 27px;
  margin-bottom: 16px;
}

.DiscountProducts .DiscountContainer .ProductCard img {
  height: 160px;
  width: 160px;
}

.DiscountProducts .DiscountContainer .ProductCard .ProductTitle {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 72px;
  line-height: 24px;
  margin: 16px 0;
}

.DiscountProducts .DiscountContainer .ProductCard .ProductPrice {
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
}

.DiscountProducts .DiscountContainer .ProductCard .BuyButtonWrapper {
  max-width: 100%;
  width: 100%;
}

.DiscountProducts
  .DiscountContainer
  .ProductCard
  .BuyButtonWrapper
  .BuyNowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: black;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 0;
}

@media (max-width: 992px) {
  .DiscountProducts .DiscountContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .DiscountProducts .DiscountContainer .ProductCard img {
    height: 85px;
    width: 85px;
  }

  .DiscountProducts .DiscountContainer {
    margin: 38px 0 32px;
  }

  .DiscountProducts .DiscountContainer .ProductCard .ProductTitle {
    font-size: 14px;
  }
}
