.ShopSpotlight .FeaturedProductsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "PlayStation PlayStation MacbookAir MacbookAir"
    "AppleAirPods AppleVisionPro MacbookAir MacbookAir";
}

.ProductInfo {
  padding: 15px;
}

.ShopSpotlight .FeaturedProductsSection .PlayStation {
  grid-area: PlayStation;
  background: #f5f5f5;
}

.ShopSpotlight .FeaturedProductsSection .MacbookAir {
  grid-area: MacbookAir;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 500px;
  overflow: hidden;
}

.ShopSpotlight .FeaturedProductsSection .AppleAirPods {
  grid-area: AppleAirPods;
  background: #eee;
  overflow: hidden;
}

.ShopSpotlight .FeaturedProductsSection .AppleVisionPro {
  grid-area: AppleVisionPro;
  background: #111;
  color: white;
  overflow: hidden;
}

.ShopSpotlight .FeaturedProductsSection .AppleVisionPro .ProductImage {
  width: 150px;
  transform: translate(-91%, -73%);
}

.ShopSpotlight .FeaturedProductsSection .AppleVisionPro .ProductInfo h3 {
  font-weight: 300;
}

.ShopSpotlight .FeaturedProductsSection .ProductCards {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.ShopSpotlight .FeaturedProductsSection .PlayStation .ProductImage {
  position: relative;
  top: 55%;
  transform: translate(-59%, -50%);
  width: 300px;
}

.ShopSpotlight .FeaturedProductsSection .AppleAirPods .ProductImage {
  position: relative;
  top: 55%;
  width: 169px;
  transform: translate(-59%, -50%);
}

.ShopSpotlight .FeaturedProductsSection .AppleVisionPro .ProductImage {
  position: relative;
  top: 55%;
  width: 169px;
  transform: translate(-98%, -78%);
}

.ShopSpotlight .FeaturedProductsSection .PlayStation .P5content h3 {
  color: #000;
  font-family: Inter;
  font-size: 49px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.ShopSpotlight .FeaturedProductsSection .AppleAirPods .ProductInfo h3 {
  color: #000;
  font-family: Inter;
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
}

.ShopSpotlight .FeaturedProductsSection .ProductCards .ProductInfo p,
.ShopSpotlight .FeaturedProductsSection .ProductFeatured .MacbookInfo p {
  color: #909090;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.ShopSpotlight .FeaturedProductsSection .MacbookAir .MacbookInfo a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
  border-radius: 6px;
  border: 1px solid black;
  text-align: center;
  padding: 16px 0;
  display: inline-block;
  width: 100%;
}

.ShopSpotlight .FeaturedProductsSection .MacbookAir .MacbookInfo .Macbookh3 {
  color: #000;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 100;
  line-height: 56px;
}

@media (max-width: 1200px) {
  .ShopSpotlight .FeaturedProductsSection {
    grid-template-areas:
      "PlayStation"
      "MacbookAir"
      "AppleAirPods"
      "AppleVisionPro";
    grid-template-columns: 1fr;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .ShopSpotlight .FeaturedProductsSection .ProductCards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: auto;
    overflow: visible;
    width: 100%;
    padding: 20px 0 20px 0 !important;
  }

  .ShopSpotlight .FeaturedProductsSection .AppleVisionPro .ProductImage,
  .ShopSpotlight .FeaturedProductsSection .AppleAirPods .ProductImage,
  .ShopSpotlight .FeaturedProductsSection .PlayStation .ProductImage {
    position: static;
    transform: none;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
  }

  .ShopSpotlight .FeaturedProductsSection .ProductCards .ProductImage img,
  .ShopSpotlight .FeaturedProductsSection .MacbookAir .ProductImageMacbook img {
    width: 100%;
    height: auto;
  }

  .ShopSpotlight .FeaturedProductsSection .MacbookAir .MacbookInfo .Macbookh3 {
    font-size: 36px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 16px;
  }

  .ShopSpotlight .FeaturedProductsSection .MacbookAir {
    flex-direction: column-reverse;
    padding: 40px 5%;
    gap: 30px;
  }

  .ShopSpotlight .FeaturedProductsSection .MacbookAir .ProductImageMacbook {
    max-width: 400px;
    width: 100%;
  }
}
